@using Newtonsoft.Json
@{
    ViewData["Title"] = "Cadastro de Família";
}
<link rel="stylesheet" href="~/css/pages.css" />
<link rel="stylesheet" href="~/css/components.css" />

@using (Html.BeginForm("Salvar", "CadastroFamilia", FormMethod.Post))
    {
<div class="form">
    <div class="form-head">
    </div>
    <div class="form-body">
    </div>
    <div class="title">Ficha de Cadastro de Família</div>
    <div class="subtitle">* campos com preenchimento obrigatório</div>



    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Dados do Responsável
            </li>
            <li>
                Endereço
            </li>
            <li>
                Informações da Família
            </li>
        </ul>

        <div>
            <div class="input-container ic1">
                <input id="nome" name="Responsavel.Nome" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="nome" class="placeholder">Nome Completo</label>
            </div>
            <div class="input-container ic2">
                <input id="rg" name="Responsavel.Rg" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="rg" class="placeholder">RG</label>
            </div>
            <div class="input-container ic2">
                <input id="cpf" name="Responsavel.Cpf" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="cpf" class="placeholder">CPF</label>
            </div>
            <div class="input-container ic2">
                <input id="datepicker" name="Responsavel.DataNascimento" class="input" title="datepicker" style="width: 100%" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="datepicker" class="placeholder">Data de Nascimento</label>

            </div>
            <div class="input-container ic2">
                <input id="phone_number" name="Responsavel.Celular" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="phone_number" class="placeholder">Celular</label>
            </div>
            <div class="input-container ic2">
                <input id="tel_number" name="Responsavel.Telefone" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="tel_number" class="placeholder">Telefone</label>
            </div>
            <div class="input-container ic2">
                <input id="sexoMasculino" name="Responsavel.Sexo"  type="radio" placeholder="" value="M" /> Masculino
                <input id="sexoFeminino" name="Responsavel.Sexo"  type="radio" placeholder="" value="F" /> Feminino
                <div class="cut cut-short">
                </div>
                <label for="radioSexo" class="placeholder">Sexo</label>
            </div>
            <div class="input-container ic2">
                <input id="batismo" type="checkbox" value="true" name="Responsavel.Batizado" placeholder=" " />                
                <label for="batismo">Batismo</label>
                <input id="crisma" type="checkbox" value="true" name="Responsavel.Crismado" placeholder=" " />                
                <label for="crisma">Crisma</label>
                <input id="eucaristia" type="checkbox" value="true" name="Responsavel.PrimeiraEucaristia" placeholder=" " />                
                <label for="eucaristia">Eucaristia</label>
                <input id="matrimonio" type="checkbox" value="true" name="Responsavel.Matrimonio" placeholder=" " />                
                <label for="matrimonio">Matrimônio</label>
            </div>
            <div class="input-container ic2">
                <input id="profissao" name="Responsavel.Profissao" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="profissao" class="placeholder">Profissão</label>
            </div>
            <div class="input-container ic2">
                <input id="estado-civil" name="Responsavel.EstadoCivil.Id" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="estado-civil" class="placeholder">Estado Civil</label>
            </div>
            @*<div class="input-container ic2">
                <input id="email" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Nome do Conjuge</label>
                </div>*@
            <div class="input-container ic2">
                <input id="situacao-emprego" name="Responsavel.SituacaoEmprego.Id" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="situacao-emprego" class="placeholder">Situaçao Emprego</label>
            </div>
        </div>
        <div>
            <div class="input-container ic1">
                <input id="endereco" name="Endereco" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="endereco" class="placeholder">Endereço</label>
            </div>
            <div class="input-container ic2">
                <input id="numero" name="NumeroEndereco" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="numero" class="placeholder">Número</label>
            </div>
            <div class="input-container ic2">
                <input id="email" name="Cep" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">CEP</label>
            </div>
            <div class="input-container ic2">
                <input id="bairro" name="Bairro" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="bairro" class="placeholder">Bairro</label>
            </div>
            <div class="input-container ic2">
                <input id="municipio" name="Municipio" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="municipio" class="placeholder">Município</label>
            </div>
            <div class="input-container ic2">
                <input id="complemento" name="Complemento" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="complemento" class="placeholder">Complemento</label>
            </div>
            <div class="input-container ic2">
                <input id="ponto-referencia" name="PontoReferencia" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="ponto-referencia" class="placeholder">Ponto de Referência</label>
            </div>
            <div class="input-container ic2">
                <input id="residencia-propria" value="true" name="ResidenciaPropria" type="checkbox" placeholder=" " checked/>
                <label for="residencia-propria" class="placeholder">Residência Própria?</label>
            </div>
        </div>
        <div>
            <div class="input-container ic1">
                <input id="renda-familia" name="Renda" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="renda-familia" class="placeholder">Renda Familiar</label>
            </div>
            <div class="input-container ic2">
                <input id="quantidade-moradores" name="QuantidadeMoradores" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="quantidade-moradores" class="placeholder">Quantidade de moradores na casa</label>
            </div>
            <div class="input-container ic2">
                <input id="quantidade-crianca" name="QuantidadeCriancas" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="quantidade-crianca" class="placeholder">Quantidade de Crianças</label>
            </div>
            <div class="input-container ic2">
                <input id="quantidade-trabalhadores" name="QuantidadeTrabalhadores" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="quantidade-trabalhadores" class="placeholder">Quantidade de Trabalhadores</label>
            </div>
            <div class="input-container ic2">
                <input id="recebe-cesta-basica" value="true" name="EstaRecebendoCestaBasica" type="checkbox" placeholder=" " checked/>
                <label for="recebe-cesta-basica" class="placeholder">Recebe cesta básica?</label>
            </div>
            <div class="input-container ic2">
                <input id="historia-vida" name="RelatoVida" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="historia-vida" class="placeholder">História de Vida</label>
            </div>
        </div>
    </div>
    <input type="submit" class="submit"/>

   
</div>

}

 @section scripts{

    <script src="~/js/forms-components.js"> </script>

    <script>

           $(document).ready(function () {

            @Html.Raw(" const situacoesEmpregoData = " + JsonConvert.SerializeObject(ViewData["situacoesEmprego"]))
            @Html.Raw(" const estadoCivilData = " + JsonConvert.SerializeObject(ViewData["estadoCivil"]))

            createForm(situacoesEmpregoData, estadoCivilData,{});
        });

    </script>
    }